.siteContent {
  width: 100vw;
  height: 100vh;
  background: black;
  background-image: url("/images/mainWebpageContent.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* general */
body {
  font-family: "Open Sans", sans-serif;
}

.swipeBar {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.swipeBar--1 {
  width: 60px;
  height: 7px;
  background-color: #a4a3ba;
  border-radius: 5px;
}

.swipeBar--1--1 {
  top: -25px;
}
.swipeBar--1--2 {
  top: -30px;
}

.swipeBar--2 {
  top: -30px;
  width: 23px;
}

.swipeBar-2__hr {
  width: 22px;
  margin: 3px;
  color: #bababa;
}

/* LaunchButtonContainer */

.LaunchButtonContainer {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.LaunchButtonContainer__span {
  color: white;
  font-family: "Gilroy-medium";
}

.LaunchButtonContainer__btn {
  background-color: transparent;
}

.LaunchButtonContainer__img {
  width: 55px;
  height: 55px;
  position: relative;
  top: 3px;
}

/* login card */

.LoginCard {
  background-color: #f3f3f8;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 20px 55px 35px 55px;
  color: #4e4b5c;
  width: 100vw;
  z-index: 2;
}

.LoginCard__btn {
  background-color: #fff;
  width: 145px;
  height: 53px;
  border-radius: 100px;
  border: 1px solid rgb(207, 203, 203);
  box-shadow: 0px 1px 0px 0px rgb(221, 217, 217);
}

.LoginCard__btn--fb {
  margin-right: 5%;
}

.LoginCard__i {
  display: inline-block;
  width: 29px;
  height: 29px;
}
.LoginCard__i--fb {
  background-image: url("./assets/icons/f-29.png");
}

.LoginCard__i--google {
  background-image: url("./assets/icons/g-29.png");
}

.LoginCard__img {
  width: 90px;
  height: 90px;
}

.LoginCard__h1 {
  font-family: "Gilroy-bold";
  font-size: 36pt;
  margin: 11px 0;
}

.LoginCard__p-1 {
  font-size: 16pt;
  margin-bottom: 35px;
}

.LoginCard__btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.LoginCard__p-2 {
  font-size: 15.5pt;
}

.LoginCard__span {
  font-family: "Gilroy-bold";
}

/* chats card */

.ChatsCard__p__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.ChatsCard {
  position: fixed;
  bottom: 0px;
  color: #4e4b5c;
  background: #f5f4fa;
  width: 100vw;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.ChatsCard__profilePicture {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid #f5f4fa;
  width: 97px;
  height: 97px;
}

.ChatsCard__ChatsWrapper {
  background-color: #fdfcfe;
  /* padding-bottom: 20px; */
  border-top: 2px solid #ebeaf2;
}

.ChatsWrapper__NewJourney {
  max-width: 150px;
  margin: 0 auto;
  position: relative;
  font-family: "Gilroy-regular";
  font-size: 13pt;
  color: #bdbcc4;
}

.ChatsCard__p-1 {
  font-size: 15pt;
  font-family: "Gilroy-bold";
  margin: 5px 0 0 0;
}

.ChatsCard__p-2 {
  font-size: 12pt;
  max-width: 350px;
}
.ChatsCard__p-3 {
  font-size: 12pt;
  font-family: "Gilroy-bold";
  margin: 10px 0 0 0;
}

.ChatsWrapper__chatsList {
  margin: 0 20px 15px 20px;
  max-height: 180px;
  /* min-height: 270px; */
  overflow-y: auto;
}

.arrowWrapper {
  position: relative;
}

.ChatsWrapper__arrow {
  /* position: absolute;
  right: 0;
  bottom:0; */
  /* display: block; */
  z-index: 1;
  position: absolute;
  left: 5px;
  top: 12px;
}

/* ChatCard */
.ChatCard {
  background-color: #f5f4fa;
  border: 1px solid #e6e3f1;
  padding: 10px 12px;
  border-radius: 6px;
  margin: 12px 0;
  display: flex;
}

.ChatCard__icon {
  display: block;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-style: normal;
  font-family: "Gilroy-bold";
  font-size: 25px;
  line-height: 50px;
  margin-right: 10px;
}

.ChatCard_data {
  text-align: left;
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  flex-direction: column;
}

.ChatCard_data__name {
  font-family: "Gilroy-bold";
  font-size: 13pt;
}

.ChatCard_data__members {
  font-size: 12pt;
}

.ChatCard__icon--red {
  background-image: linear-gradient(#f66a78, #fdc691);
}
.ChatCard__icon--green {
  background-image: linear-gradient(#d3de7a, #33b8ae);
}
.ChatCard__icon--purple {
  background-image: linear-gradient(#8c81dc, #4f7de0);
}

.Chat {
  overflow-y: auto;
  max-height: 400px;
}

/* Plus Button */

.PlusButton {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 48px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 3px;

  background-image: linear-gradient(
    135deg,
    rgb(90, 99, 216),
    rgb(205, 144, 225)
  );
}

/*Bottom Tabnavigtion */
.TabNavigation {
  background-color: #ffffff;
  position: relative;
  /* margin-top: -2em; */
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.TabWhite {
  height: 100px;
  background-image: url("./assets/tabNavigation/tabNavigation.png");
}

.TabPurple {
  height: 80px;
  background-image: url("./assets/tabNavigation/navigationBarPurple.png");
}

.TabNavigation__buttonWrapper--white {
  padding-top: 20px;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.TabNavigation__buttonWrapper--purple {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

/* Message Card */

.MessageCard {
  position: fixed;
  bottom: 0px;
  background: grey;
  width: 100vw;
  text-align: center;
  z-index: 2;
}

.MessangerCard {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  z-index: 2;
}

.MessageCardHeader {
  background-image: linear-gradient(90deg, #5863d5, #c991df);
  /* height: 64px; */
  padding: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MessageCardHeader__p {
  font-family: "Gilroy-medium";
  color: white;
  font-size: 15pt;
}

.Chat {
  background-color: #f5f4fa;
  /* min-height: 200px; */
  max-height: 280px;
  padding: 0 30px;
}

.sent {
  background-color: #8f87ea;
  display: inline-flex;
  max-width: 80%;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 3px 6px 0px rgba(209, 194, 209, 1);
  color: white;
  font-family: "Gilroy-regular";
}
.received {
  font-family: "Gilroy-regular";
  background-color: white;
  display: inline-flex;
  max-width: 80%;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 3px 6px 0px rgba(209, 194, 209, 1);
}

.received__img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
}

.sender {
  color: #3c96f7;
  font-family: "Gilroy-bold";
}

.sent__img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 8px;
}

.sentWrapper {
  text-align: left;
  margin: 10px 0;
}
.receivedWrapper {
  text-align: right;
  margin: 10px 0;
}

.senderMsg {
  display: flex;
  align-items: center;
}

.sentMsg {
  display: flex;
  align-items: center;
}

.MessageBox {
  box-sizing: border-box;
  display: flex;
  padding: 22px;
  background-color: #eae8f2;
}

.MessageBox__input {
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 1px 0px 0px rgb(221, 217, 217);
  width: calc(100% - 50px);
  margin-right: 10px;
  outline: none;
  padding-left: 20px;
}

/* animations */
.animateShow {
  animation: slideUp 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.animateHide {
  animation: slideDown 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animateShowFade {
  animation: fadeOut 0.4s;
}
@keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.sendIcon {
  border-radius: 50%;
  background-image: linear-gradient(
    135deg,
    rgb(90, 99, 216),
    rgb(205, 144, 225)
  );
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.EnviteFriends {
  background-color: #f5f4fa;
  min-height: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  /* border: 5px solid #f5f4fa; */
}

.EnviteFriends__eNvite {
  font-family: "Gilroy-bold";
  font-size: 20pt;
}
.EnviteFriends__where {
  font-size: 14pt;
  max-width: 300px;
  margin-bottom: 20px;
}
.EnviteFriends__icons {
  display: flex;
  justify-content: center;
}

.EnviteFriends__iconWrapper {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e8e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 5px;
}

.GroupInfoCard {
  background-color: #f5f4fa;
  position: fixed;
  bottom: 0;
  text-align: center;
  /* padding: 20px 55px 35px 55px; */
  /* color: #4e4b5c; */
  width: 100vw;
  border-radius: 10px 10px 0 0;
  color: #4b4859;
  z-index: 2;
}

.GroupInfoCardHeader {
  background-image: linear-gradient(90deg, #5863d5, #c991df);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GroupInfoCard__img {
  width: 14px;
  height: 14px;
}

.GroupInfoCardHeader__p {
  font-family: "Gilroy-medium";
  color: white;
  font-size: 15pt;
}

.Participant {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2px 0;
  font-size: 14pt;
}

.Participant__admin {
  font-size: 11pt;
  color: #d5d4d9;
  margin-right: 30px;
}

.Participant__img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.Participant__leftWrapper {
  display: flex;
  align-items: center;
}

.Participant__rightWrapper {
  display: flex;
  align-items: center;
}

.groupTitle {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2px 0;
  font-weight: 700;
  font-size: 16pt;
  max-height: 60px;
}

.groupTitleWrapper {
  display: flex;
  align-items: center;
}

.GroupTitle__icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-style: normal;
  font-family: "Gilroy-bold";
  font-size: 25px;
  line-height: 40px;
  margin-right: 15px;
}

.participantsNumber {
  margin: 13px 0;
  padding-left: 30px;
  font-size: 11pt;
  text-align: left;
}

.groupInfo__action {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14pt;
}

.groupInfo__action--add {
  color: #337cfb;
  padding: 10px 20px;
}

.groupInfo__action--delete {
  padding: 15px 22px;
  margin-top: 20px;
  color: #fc1243;
}
.groupInfo_action__icon {
  border-radius: 50%;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupInfo_action__icon--add {
  background-color: #eae8f2;
}
.groupInfo_action__icon--delete {
  background-color: #fc1243;  
}

.groupInfo_action__img {
  width: 50%;
}

.participantWrapper {
  overflow-y: auto;
  max-height: 180px;
}

.ProfileCard {
  position: fixed;
  bottom: 0px;
  color: #4e4b5c;
  width: 100vw;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 70px 0 0 0;
  /* display: flex; */
  /* flex-direction: column; */
  background-image: linear-gradient(135deg, #5d68d5, #AB7FDF);
  z-index: 2;
}

.ProfileCard__closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.ProfileCard__form {
  display: flex;
  flex-direction: column;
  margin: 25px 0 40px 0;
  padding: 0 20px;
}

.ProfileCard__profilePicture {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid #7870D7;
  width: 97px;
  height: 97px;
}

.input {
  border-radius: 25px;
  border: 0;
  box-shadow: 0px -2px 0px 0px rgb(189, 176, 176);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15pt;
  outline: none;
  padding-left: 10px;
  font-family: "Gilroy-regular";
  text-align: center;
  height: 48px;
}



.smallLabelWrapper {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.input--firstName {
  width: 100%;
}
.input--lastName {
  width: 100%;  
}
.input--email {
  width: 100%;
}
.input--birthDate {
  width: 100%;
}

.smallWrapper {
  width: 48%;
}

.label {
  display: block;
  color: white;
  text-align: left;
  font-size: 13pt;
  font-family: "Gilroy-medium";
}



.submitBtn {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 48px;
  z-index: 1;
  left: 0;
  right: 3px;
  background-image: linear-gradient(to right bottom, #cbdc7f, #39baaf);
}

.submitBtn__img {
  width: 20px;
}

.ShoppingBagCard {
  position: fixed;
  bottom: 0px;
  color: #4e4b5c;
  background: #f5f4fa;
  width: 100vw;
  text-align: center;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.ShoppingBagCardHeader {
  background-image: linear-gradient(90deg, #5863d5, #c991df);
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ShoppingBagCardHeader__profilePicture {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 10px;
}


.ShoppingBagCardHeader__owner {
  text-align: left;
  color: white;
  font-size: 15pt;
  font-family: "Gilroy-bold";
}

.ShoppingBagCardHeader__label {
  font-size: 13pt;
  color: white;
}

.BagItem {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 15px 30px 15px 10px;
  margin: 2px 0;
  font-family: "Gilroy-bold";
}

.BagItem__icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.BagItem__wrapper1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.BagItem__wrapper2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18pt;
}

.BagItem__name {
  text-align: left;
  /* padding-right: 20px; */
}

.priceWhole {
  
}

.BagItem__price {
  margin-right: 10px;
}

.priceChange {
  font-size: 12px;
  vertical-align: top;
}
.priceChangeB4Sale {
  font-size: 12px;
  vertical-align: top;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  transform:rotate(20deg);
}

.bagItems {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.MessageFade {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  max-width: 60%;
  align-items: flex-start;
}

.msgFade {
  opacity: 0.8;
  display: flex;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 6px 5px 0px rgba(71,64,71,0.68);
  color: black;
  font-family: "Gilroy-regular";
  margin-top: 5px;
  align-items: center;
}

.msgNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #e75265;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
  box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.68);
  width: 25px;
  height: 25px;
  font-family: "Gilroy-bold"
}

.msgFade__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.msgFade--solid {
  background-color: white;
}
.msgFade--fade {
 background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
}

.AddparticipantCard {
  position: fixed;
  bottom: 0px;
  background-color: #f5f4fa;
  width: 100vw;
  text-align: center;
  min-height: 400px;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.AddparticipantHeader {
  background-image: linear-gradient(90deg, #5863d5, #c991df);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AddparticipantHeading {
  align-items: center;
  color: white;
  font-family: "Gilroy-bold";
  flex: 1;
  text-align: center;
}

.Social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 2px;
  background: #fff;
}

.social__icon {
  border-radius: 50%;
  border: 2px solid #ecebef;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__name {
flex: 1;
text-align: left;
padding-left: 10px;
}

@media (max-height: 620px){
  .LoginCard {
    padding: 5px;
  }
  .LoginCard__p-1 {
    margin-bottom: 15px;
  }

  .LoginCard__btnContainer {
    margin-bottom: 20px;
  }

  .ChatsWrapper__chatsList {
    height: 120px;
  }
  .swipeBar--1--2 {
    top: -30px;
  }
  .ChatsWrapper__NewJourney {
    display: none;
  }
  .ChatCard {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ChatsCard__p__wrapper {
    margin-bottom: 10px;
  }
  .ChatsCard__p-1 {
    font-size: 14pt;
  }

  .ChatsCard__p-2 {
    font-size: 13pt;
  }
  .ChatsCard__p-3 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 13pt;
  }

  .ChatCard_data__name {
    font-size: 13pt;
  }
  .ChatCard_data__members {
    font-size: 12pt;
  }
  .EnviteFriends {
    max-height: 200px;
  }
  .Chat {
    max-height: 200px;
  }
  .MessageCardHeader {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .MessageCardHeader__p {
    font-size: 14pt;
  }
  .MessageBox {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .participantWrapper {
    max-height: 120px;
  }
  .groupInfo__action--delete {
    margin-top: 10px;
    padding: 10px 22px;
  }
  .bagItems {
    max-height: 320px;
  }
  .ProfileCard__form {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .label {
    font-size: 10pt;
  }
}